/* default */

* {
    margin: 0;
    padding: 0;
}

/* components */
.draggableDemo {
    padding: 1rem;
}
.draggableDemo label {
    padding: 0.5rem;
    display: inline-block;
}

.draggableDemo input {
    width: 35px;
    padding: 0.5rem;
}

.draggableDemo input.percentageValue {
    width: 70px;
}

#color {
    margin-top: 20px;
    height: 40px;
    background-color: rgb(0, 0, 0);
}

.slider {
    height: 2px;
    margin: 30px;
    position: relative;
}

.handle {
    position: absolute;
    cursor: pointer;
}

.handle-small {
    width: 16px;
    height: 16px;
    background-color: #6658cc;
    border-radius: 16px;
    margin-top: -3px;
}

.handle--big {
    width: 30px;
    height: 30px;
    background-color: black;
    margin-top: -14px;
    border-radius: 25px;
}

#dragMe {
    width: 100px;
    height: 100px;
    background-color: #951625;
    position: absolute;
    left: 100px;
    top: 100px;
    cursor: pointer;
    border: 10px solid;
}

#dragMeSlider {
    position: absolute;
    width: 50px;
    height: 10px;
    right: -10px;
    top: -10px;
}

/* layout */

.flexible {
    display: flex;
}

.width--80 {
    width: 80%;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
}

/* theme */
.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
